{{yield}}


{{#if inspectedValue}}
  {{photo-inspector photo=inspectedValue}}
{{/if}}

{{#if inspectedValue}}
  <div class='photo-viewer'>
      <img src="https://s3.amazonaws.com/europe-trip-blog/{{inspectedValue.dateCreated}}/large/{{inspectedValue.filename}}">
  </div>
{{/if}}

<div class='photo-grid'>
  {{#each photos as |photo|}}
    {{photo-display photo=photo inspect=(action 'inspect')}}
  {{/each}}
</div>
